
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "open sans";
}
html, body {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--colorbody);
}
section {
  min-height: 100vh;
}

:root{
  --colorfooter: #936045;
  --colorHeader: #c6975d;
  --colorbody: rgb(213, 220, 224);
}

.head {
  text-align: center;
  width: 100%;
  max-height: 250px;
  justify-content: center;
}
.head img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.5);
}
.head h1{
    position: relative;
    margin-top: -15%;
    color: antiquewhite;
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'gotham';
  }
.head p{
    position: relative;
    color: antiquewhite;
    font-size: 16px;
    font-family: 'gotham';
}
.head p span{
    color: rgb(161, 153, 153);
    font-family: 'gotham';
}


/* topbar section */
.topbar {
  display: flex;
  position: absolute;
  background-color: var(--colorHeader);
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}
.topleft {
  padding-left: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.topleft .material-symbols-outlined {
  font-size: 25px;
  font-weight: 600;
  color: rgb(208, 227, 227);
}
.topleft p {
  color: rgb(208, 227, 227);
  padding-right: 30px;
  padding-left: 5px;
  font-size: 14px;
  font-family: 'gotham';
}
.topright {
  padding: 0 40px 0 0;
}
.topright i {
  font-size: 25px;
  color: rgb(208, 227, 227);
  padding: 0 5px 0 5px;
  cursor: pointer;
  transition: .6s ease-in-out;
}

.topright i:hover{
  color: #0f0f0f;
}

/* header section */
header {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-left: 10%;
}
.nav_menu2{
    display: none;
}


li {
  list-style: none;
}
a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 20px;
  font-family: 'gotham';
}

.logo {
  width: 110px;
  height: 100px;
  border-radius: 50%;
}

.hamburger {
  display: none;
}
.hamburger span{
    font-size: 40px;
    font-weight: bolder;
}

button{
  background: rgb(175, 155, 133);
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'gotham';
  cursor: pointer;
  transition: .6s ease;
}
button:hover{
  background: rgb(107, 91, 73);
  color: whitesmoke;
}

/* Facials section */
.facials_details{
    padding: 100px 10% 30px 10%;
    gap: 2rem;
}

.facial_card{
    display: flex;
    background: rgba(128, 128, 128, 0.297);
    min-height: 300px;
    border-radius: 5px;
    padding: 10px 5% 10px 5%;
    margin-bottom: 4rem;
}
.facial_card img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.card-desc{
  padding-left: 5%;
}
.descR h2{
  font-size: 25px;
  padding: 0 0 5px 0;
  color: rgb(110, 107, 107);
  font-family: 'gotham';
}
.descR p{
  line-height: 1.5;
  font-size: 12px;
  font-family: 'gotham';
  margin-bottom: 5%;
}
.descR p span{
  font-family: 'gotham';
  font-size: 12px;
  margin-top: 2rem;
  font-weight: bold;
}
.descL p{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2%;
  font-family: 'gotham';
}

  
  /* Footer section */
  footer{
      width: 100%;
      height: 150px;
      background: var(--colorfooter);
      color: #f1efef;
      padding: 20px 10% 20px 10%;
  }
  .footer_content{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .logo2 {
      width: 110px;
      height: 100px;
      border-radius: 50%;
    }
  .location h2{
      font-size: 20px;
      font-weight: 900;
      padding-bottom: 20px;
      font-family: 'gotham';
  }
  .location p{
      line-height: 1.5;
      font-size: 12px;
      font-family: 'gotham';
  }
  .footer_content p{
      font-size: 16px;
      font-family: 'gotham';
  }
  
  /* Responsive Design */
  
  /* For tablets (width between 768px and 1024px) */
  @media (max-width: 1024px) {
    .topbar {
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
    }
  
    header {
      flex-wrap: wrap;
      padding: 20px 30px;
    }
  
    .nav_menu ul {
      flex-direction: column;
      text-align: center;
    }
  
    .nav_menu ul li a {
      padding: 10px 0;
    }
  
  }
  
  /* For mobile phones (width below 768px) */
  @media (max-width: 768px) {
      body{
          position: relative;
      }
    .topbar {
      display: none;
    }
  
    header{
      max-height: 120px;
      margin-top: -5%;
      background-color: var(--colorHeader);
    }

    .head h1{
      position: relative;
      margin-top: -40%;
      color: antiquewhite;
      padding-bottom: 20px;
      font-weight: 800;
      font-size: 40px;
  }
  
    .nav_menu{
      display: none;
    }
  
    .nav_menu2{
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      flex-direction: column;
      padding: 20% 0 0 40%;
      background: bisque;
      transition: top 1s ease;
    }
  
    .nav_menu2.active{
      display: block;
    }
  
    .nav_item2{
      font-size: 80px;
      font-weight: bolder;
      margin-bottom: 10%;
    }
  
    .hamburger {
      display: block;
      margin-right: 120px;
      cursor: pointer;
      font-size: 25px;
    }
  
    .logo{
      width: 80px;
    height: 70px;
    }
    button{
      display: none;
    }

    .facial_card{
      flex-direction: column;
    }
    .facial_card img{
      width: 100%;
    }
    
  }
  
  @media (max-width: 468px) {
      .topbar {
        display: none;
      }
    
      .hamburger {
        display: block;
        margin-left: 80%;
        cursor: pointer;
        font-size: 25px;
      }
    

      .gallery{
        margin-top: 0;
      }
  
      footer{
          padding: 20px 4% 20px 4%;
          margin-top: -10%;
      }
  
      .location h2{
          font-size: 10px;
      }
      .location p{
          line-height: 1.2;
          font-size: 4px;
      }
      .footer_content p{
          font-size: 10px;
      }
      .logo2 {
          width: 80px;
          height: 70px;
          border-radius: 50%;
        }
        .facials_details{
          padding: 100px 3% 30px 3%;
          gap: 2rem;
      }
    }

    @media (max-width: 380px){
      .hamburger {
        margin-left: 60%;
      }
    }

  